<html>
	<head>
		<title>Form</title>
	</head>

	<body>
		<form action="/form" method="POST">
			<input type="text" name="first_name" placeholder="Enter name">
			<input type="text" name="last_name" placeholder="Enter surname">
			<button>Submit</button>
		</form>
	</body>
</html>